{% extends "base_generic.html" %}

{% block content %}
    <h1>All Borrowed Books</h1>

    {% if borrowed_books %}
    <ul>

      {% for book_instance in borrowed_books %}
      <li {% if book_instance.is_overdue %} style="color: red;" {% endif %}>
        <a href="{{ book_instance.book.get_absolute_url }}">{{ book_instance.book.title }}</a> ({{book_instance.due_back}} - {{book_instance.borrower}}) <a href="{% url 'renew-book-librarian' book_instance.id %}">Renew</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no borrowed books.</p>
    {% endif %}       
{% endblock %}